.design {
    color: #00bcd4;
    font-weight: bold;
    font-size: 40px;
}
.fontdesign{
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing:1px;
}